{% extends "base.html.twig" %}

{% block body %}
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <h1>Add</h1>
    {% include 'TricksBundle:form:addTricksForm.html.twig' %}
    <h2>Ajouter une video</h2>
    {% include 'TricksBundle:form:videoForm.html.twig' %}
{% endblock %}