{% extends "base.html.twig" %}


{% block body %}

    </br>
    </br>
    </br>
    </br>
    <h1>Add</h1>
    {% include 'TricksBundle:form:tricksForm.html.twig' %}
    <script>
     {#
        $('#hide').hide();
        $('#addImage').on('click', function() {
            $('#hide').show('slow');
            $('#addImage').hide('slow');
        });
        #}
        $(document).ready(function($){
            $('#addVideo').click(function(e){
                var copie = $('#divLienYoutube').clone();
                copie.find('#divLienYoutube').attr("#divLienYoutube","#test");
                copie.appendTo('#divLienYoutube');
                return false;
            });
        });
    </script>

{% endblock %}