{% extends "base.html.twig" %}

{% block body %}
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
<h1>Edit</h1>

{% include 'TricksBundle:form:addTricksForm.html.twig' %}
{% endblock %}