{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <h1>Edit</h1>

        {% include 'TricksBundle:form:tricksForm.html.twig' %}
    </div>
{% endblock %}